@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
  }
}

@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a0b258d7e37_SFMonoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a1d288d7e57_SFMonoMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a46528d7e3d_SFMonoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a83d48d7e36_SFMonoHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a1e0e8d7e39_SFMonoHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a537d8d7e3c_SFMonoBoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a32a58d7e56_SFMonoSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a43878d7e3a_SFMonoMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209ad5458d7e40_SFMonoSemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209aab968d7e3e_SFMonoBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209aa6258d7e58_SFMonoLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'SF Mono';
    src: url('https://assets.website-files.com/641990da28209a736d8d7c6a/641990da28209a90308d7e3f_SFMonoRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/ce5c3f/00000000000000003b9ae846/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("woff2"),url(https://use.typekit.net/af/ce5c3f/00000000000000003b9ae846/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("woff"),url(https://use.typekit.net/af/ce5c3f/00000000000000003b9ae846/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("opentype");
    font-weight:100;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/975322/00000000000000003b9ae847/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3) format("woff2"),url(https://use.typekit.net/af/975322/00000000000000003b9ae847/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3) format("woff"),url(https://use.typekit.net/af/975322/00000000000000003b9ae847/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3) format("opentype");
    font-weight:100;
    font-style:italic;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/7aa05f/00000000000000003b9ae848/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("woff2"),url(https://use.typekit.net/af/7aa05f/00000000000000003b9ae848/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("woff"),url(https://use.typekit.net/af/7aa05f/00000000000000003b9ae848/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format("opentype");
    font-weight:200;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/5e4a03/00000000000000003b9ae849/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("woff2"),url(https://use.typekit.net/af/5e4a03/00000000000000003b9ae849/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("woff"),url(https://use.typekit.net/af/5e4a03/00000000000000003b9ae849/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3) format("opentype");
    font-weight:200;
    font-style:italic;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/8c68f7/00000000000000003b9ae84a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/8c68f7/00000000000000003b9ae84a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/8c68f7/00000000000000003b9ae84a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
    font-weight:300;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/2f8a18/00000000000000003b9ae84b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff2"),url(https://use.typekit.net/af/2f8a18/00000000000000003b9ae84b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("woff"),url(https://use.typekit.net/af/2f8a18/00000000000000003b9ae84b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3) format("opentype");
    font-weight:300;
    font-style:italic;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/9e0ad7/00000000000000003b9ae84c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/9e0ad7/00000000000000003b9ae84c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/9e0ad7/00000000000000003b9ae84c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/943049/00000000000000003b9ae84d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/943049/00000000000000003b9ae84d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/943049/00000000000000003b9ae84d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
    font-weight:400;
    font-style:italic;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/cab4b1/00000000000000003b9ae84e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/cab4b1/00000000000000003b9ae84e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/cab4b1/00000000000000003b9ae84e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-weight:700;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/2d455d/00000000000000003b9ae84f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/2d455d/00000000000000003b9ae84f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/2d455d/00000000000000003b9ae84f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
    font-weight:700;
    font-style:italic;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/e6f06e/00000000000000003b9ae850/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3) format("woff2"),url(https://use.typekit.net/af/e6f06e/00000000000000003b9ae850/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3) format("woff"),url(https://use.typekit.net/af/e6f06e/00000000000000003b9ae850/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3) format("opentype");
    font-weight:800;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel;
    src:url(https://use.typekit.net/af/6ab96c/00000000000000003b9ae851/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3) format("woff2"),url(https://use.typekit.net/af/6ab96c/00000000000000003b9ae851/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3) format("woff"),url(https://use.typekit.net/af/6ab96c/00000000000000003b9ae851/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3) format("opentype");
    font-weight:800;
    font-style:italic;
    font-stretch:normal;
    font-display:auto;
}
@font-face{font-family:nobel-condensed;
    src:url(https://use.typekit.net/af/a164e9/00000000000000003b9ae852/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("woff2"),url(https://use.typekit.net/af/a164e9/00000000000000003b9ae852/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("woff"),url(https://use.typekit.net/af/a164e9/00000000000000003b9ae852/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("opentype");
    font-weight:100;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}
@font-face {
    font-family: nobel-condensed;
    src: url(https://use.typekit.net/af/79837a/00000000000000003b9ae853/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3) format…
}
.text-grand {
    font-family: grand, serif;
}

.text-mono {
    font-family: SF Mono, sans-serif;
}

.font-nobel{
    font-family: nobel, sans-serif;
}
