@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.grid {
    grid-column-gap: 0;
    grid-template-rows: auto !important;
    grid-template-columns: .5fr 1fr;
    padding: 0;
}

p {
    line-height: normal;
}

@font-face {
    font-family: "New Hero";
    src: url("/fonts/NewHero-Light.woff2") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "New Hero";
    src: url("/fonts/NewHero-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "New Hero";
    src: url("/fonts/NewHero-Medium.woff2") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "New Hero";
    src: url("/fonts/NewHero-SemiBold.woff2") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "New Hero";
    src: url("/fonts/NewHero-Bold.woff2") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
